---
title:
call_to_action: about
background_image:
large_header: false
---

<div class="editable">
  <h2>Welcome</h2>
  
  {% if site.image %}<img src="{{ site.image }}" align="left">{% endif %}
  
	<p>{{ site.intro }}</p>
	
	<h3>See what others are saying</h3>
</div>

<div class="testimonials">
	{% for member in site.people %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ member.testimonial }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=member.image %}" alt="Photo of {{ member.name }}"> <a href="{{ site.baseurl }}/people/{{ member.name | slugify }}">{{ member.name }}</a></p>
		</blockquote>
	{% endfor %}
</div>