<li class="post-summary">
  {% if include.post.image %}
    <div class="post-summary-image">
      <img src="{% include relative-src.html src=include.post.image %}" alt="Photo of {{ include.post.title }}">
    </div>
  {% endif %}

  <div class="post-summary-content {% if include.post.image %}has-post-summary-image{% endif %}">
    <h3 class="post-summary-title"><a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a></h3>
    {% include post-summary-details.html post=include.post %}
    <p class="post-summary-author">
      {% if include.post.author %}
      {% assign author_id = include.post.author | prepend: "/people/" | append: "/" %}
      {% assign author = site.people | where: "url", author_id | first %}
      <img src="{% include relative-src.html src=author.image %}" alt="Photo of {{ author.name }}" width="30" height="30"> <a href="{{ site.baseurl }}/people/{{ author.name | slugify }}">{{ author.name }}</a>&nbsp; &nbsp;
      {% endif %}
      
      {% if include.post.project %}
      {% assign project_id = include.post.project | prepend: "/projects/" | append: "/" %}
      {% assign project = site.projects | where: "url", project_id | first %}
      <img src="{% include relative-src.html src=project.image %}" alt="Photo of {{ project.name }}" width="30" height="30"> <a href="{{ site.baseurl }}/projects/{{ project.name | slugify }}">{{ project.name }}</a>
      {% endif %}
    </p>
  </div>

  <div class="post-summary-excerpt">{{ include.post.excerpt | remove: '<p>' | remove: '</p>' }}</div>
</li>