<div class="staff-details">
	<div class="staff-image">
		<img src="{% include relative-src.html src=include.project.image %}" alt="Photo of {{ include.project.name }}" width="120" height="120">
	</div>
	<ul class="staff-info">
		<li><a href="{{ site.baseurl }}/projects/{{ include.project.name | slugify }}">{{ include.project.name }}</a></li>
		<li><small>{{ include.project.title }}</small></li>
		<li>
      {% for link in include.project.social %}
        <small><a href="{% include relative-src.html src=link.link %}" class="fa fa-{{ link.icon }}" data-umami-event="{{ include.project.name }}" target="_blank"> {{ link.name }}</a></small>
      {% endfor %}
		</li>
	</ul>
</div>

<div class="staff-bio">
	<p>{{ include.project.content | markdownify }}</p>
</div>