<div class="staff-details">
	<div class="staff-image">
		<img src="{% include relative-src.html src=include.member.image %}" alt="Photo of {{ include.member.name }}" width="120" height="120">
	</div>
	<ul class="staff-info">
		<li><a href="{{ site.baseurl }}/people/{{ include.member.name | slugify }}">{{ include.member.name }}</a></li>
		<li><small>{{ include.member.title }}</small></li>
		<li>
		  {% for link in include.member.social %}
				<small><a href="{% include relative-src.html src=link.link %}" class="fa fa-{{ link.icon }}" data-goatcounter-click="{{ include.member.name }}" data-umami-event="{{ include.member.name }}" target="_blank"> {{ link.name }}</a></small>
			{% endfor %}
		</li>
	</ul>
</div>

<div class="staff-bio">
	<p>{{ include.member.content | markdownify }}</p>
</div>