---
title: Blog
call_to_action: home
background_image:
large_header: false
show_in_navigation: true
navigation_order: 3
---

<div class="editable">
  <img src="/images/dna.jpg" align="left" style="border-radius:2px; box-shadow:1px 1px 5px 0 rgba(100, 100, 100, 0.2); margin:0px 30px 15px 0px" width="300px">
  
  <p>Particular <a href="/blog/tags/">topics</a> of interest include:</p>
  
  <ul>
    <li>D8A - data, discovery & decision science</li>
    <li>DNA - genomics, personalized & precision medicine</li>
    <li>DNI - direct neural interfaces & mind machines</li>
    <li>DEV - development & environmental studies</li>
    <li>DIV - diversity, equity & inclusion in STE(A)M</li>
    <li>DIY - do it yourself, citizen & open science</li>
  </ul>
  
  <h3>Posts</h3>
</div>

<ol class="post-list">
	{% for post in paginator.posts %}
		{% include post-summary.html post=post %}
	{% endfor %}
</ol>

{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer</a>
		{% elsif paginator.next_page %}
			<span></span>
		{% endif %}

		<span>{{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older &rarr;</a>
		{% elsif paginator.previous_page %}
			<span></span>
		{% endif %}
	</div>
{% endif %}
