---
layout: page
---

<p>You are viewing information about {{ page.title }}. View more projects <a href="/projects">here</a>.</p>

<h3>About {{ page.title}}</h3>

<ul class="staff-list">
{% assign projects = site.projects | where: 'name', page.title %}
	{% for project in projects %}
		<li class="staff">
		  {% include project-summary.html project=project %}
		</li>
	{% endfor %}
</ul>

<h3>People At {{ page.title}}</h3>

<ul class="staff-list">
{% assign members = site.people | where: 'projects', page.title %}
	{% for member in members %}
		<li class="staff">
		  {% include staff-member.html member=member %}
		</li>
	{% endfor %}
</ul>

<h3>Posts On {{ page.title}}</h3>

<ol class="post-links post-list">
{% assign title = page.title | slugify %}
{% assign posts = site.posts | where: 'project', title %}
  {% for post in posts %}
		{% include post-summary.html post=post %}
	{% endfor %}
</ol>